In [26]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
clean_income = "Resources/clean_income_df.csv"
clean_inspection = "Resources/clean_inspection_df2.csv"

In [27]:
# Read the  Data and  store into a Pandas DataFrame
clean_income_df = pd.read_csv(clean_income)

In [28]:
# Read the  Data and  store into a Pandas DataFrame
clean_inspection_df = pd.read_csv(clean_inspection)

In [29]:
# Read the clean_income dataframe
clean_income_df.head()

,Borough,INCOME LEVEL,DBA,STREET,GRADE DATE,LATITUDE,LONGITUDE
0,Manhattan,high income,MARIACHI'S RESTAURANT,CHAMBERS STREET,1/13/2020,40.716432,-74.010472
1,Manhattan,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,1/22/2020,40.715553,-74.011021
2,Manhattan,high income,STARBUCKS COFFEE COMPANY #29854,GREENWICH STREET,1/13/2020,40.715553,-74.011021
3,Manhattan,high income,CANTEEN,WORLD TRADE CTR,1/23/2020,40.713941,-74.007401
4,Manhattan,high income,JOE & THE JUICE GREENWICH ST,GREENWICH STREET,12/30/2019,40.715553,-74.011021

In [30]:
# Read the clean inspection dataframe
clean_inspection_df.head()

,DBA,Borough,STREET,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
0,HENRI'S BACKYARD,BROOKLYN,4TH AVE,American,39.0,C,06/22/2017
1,RICHMOND COUNTY COUNTRY CLUB,STATEN ISLAND,TODT HILL ROAD,American,12.0,A,06/14/2017
2,TOMOE SUSHI,MANHATTAN,THOMPSON STREET,Japanese,13.0,A,10/06/2015
3,CRAB SPOT RESTAURANT,BROOKLYN,UNION STREET,Seafood,12.0,A,07/28/2016
4,M NOODLE SHOP,BROOKLYN,METROPOLITAN AVENUE,Chinese,10.0,A,01/19/2017

In [52]:
# List the columns for clean_income_df
list(clean_income_df)

['Borough',
 'INCOME LEVEL',
 'DBA',
 'STREET',
 'GRADE DATE',
 'LATITUDE',
 'LONGITUDE']

In [53]:
# List the columns for clean_inspection_df
list(clean_inspection_df)

['DBA',
 'Borough',
 'STREET',
 'CUISINE DESCRIPTION',
 'SCORE',
 'GRADE',
 'GRADE DATE']

In [62]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import datetime as dt

In [63]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('NYC_restaurant.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS inspection_data")

#Creating table as per requirement
sql ='''CREATE TABLE "inspection_data" (
    "DBA" varchar   NOT NULL,
    "Borough" varchar   NOT NULL,
    "street" varchar   NOT NULL,
    "Cuisine Description" varchar   NOT NULL,
    "Score" INT   NOT NULL,
    "Grade" varchar NOT NULL,
    "Grade Date" Date NOT NULL,
    CONSTRAINT "pk_inspection" PRIMARY KEY (
        "Borough"
     )
);'''
#cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table created successfully........

In [64]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('NYC_restaurant.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS income_data")

#Creating table as per requirement
sql ='''CREATE TABLE "income_data" (
    "Borough" varchar   NOT NULL,
    "INCOME LEVEL" varchar   NOT NULL,
    "DBA" varchar NOT NULL,
    "Street" varchar   NOT NULL,
    "Grade Date" Date NOT NULL,
    "Latitude" int   NOT NULL,
    "Longitude" int   NOT NULL,
    CONSTRANT "pk_income" PRIMARY KEY (
        "Borough"
     )
);'''
#cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table created successfully........

In [67]:
clean_income_df.to_sql('clean_income', con = engine, if_exists = 'append', index=False, chunksize = 1000)
clean_inspection_df.to_sql('clean_inspection', con = engine, if_exists = 'append', index=False, chunksize = 1000)

In [72]:
engine = create_engine("sqlite:///NYC_restaurant.db")
Base = automap_base()
Base = automap_base()
Base.prepare(engine, reflect=True)

In [73]:
# We can view all of the classes that automap found
Base.classes.keys()

[]